.top-overflow {
	/*color: white;*/
	border-radius: 10px;
	overflow-y: scroll;
	height: 325px;
/*	height: 85%;
	width: 85%;*/
}

.Client-Message {
	overflow-y: hidden;
	background-color: rgba(0, 0, 255);
	border-radius: 100px;
}

.Realtor-Message {
	overflow: hidden;
	color: red;
}

.Popup {
	width: 20%;
	opacity: 0.97;
}