/* Whole App */
body {
	background-color: rgba(134, 165, 164, 0.2);
}
.App {
  /*text-align: center;*/
  /*position: fixed;*/
  /*top: 5%;*/
}

/* Home Auth Links */
.Realtor-Link {
	position: fixed;
	width: 100%;
	margin-top: 5%;
	text-align: center;
	background-color: lightgrey;
	bottom: 0;
}
.Client-Link {
	text-align: center;
	background-color: lightgrey;
}

/* Forms */
.Label {
	/*width: 20%;*/
	/*height: 30%;*/
}
.Login-Form {
	border: 1px solid grey;
	border-radius: 5px;
	background-color: rgba(64, 135, 165, 0.8);
}
.Logo {
	height: 100%;
	width: 130%;
}
/* Register Main Body */
.Register-Main {
	display: flex;
	justify-content: space-between;
}
.Register-Form {
	margin-top: 10%;
	margin-bottom: 15%;
	width: 55%;
	border-left: 1px solid lightcyan;
	border-right: 1px solid lightgrey;
}
.About-Us {
	background-color: rgb(236, 240, 240);
	width: 43%;
	border-left: 1px solid grey;
	text-align: center;
}
