/* Whole App */
body {
	background-color: rgba(134, 165, 164, 0.2);
}
.App {
  /*text-align: center;*/
  /*position: fixed;*/
  /*top: 5%;*/
}

/* Home Auth Links */
.Realtor-Link {
	position: sticky;
	bottom: 0;
	z-index: 10;
}
.Client-Link {
	position: sticky;
	top: 0;
	z-index: 10;
}

/* replace redundant classes with same properties to this proptery */
.Bottom-Sticky {
	position: sticky;
	bottom: 0;
	z-index: 10;
}

/* Forms */
.Label {
	/*width: 20%;*/
	/*height: 30%;*/
}
.Login-Form {
	border: 1px ridge grey;
	border-radius: 5px;
	background-color: rgba(64, 135, 185, 0.9);
	padding-top: 1%;
}
.Login-Form Button{
	height: 10%;
	padding-right: 100%;
}
#Client-Login-Form {
	position: sticky;
	top: 0;
	z-index: 10;
}
#Realtor-Login-Form {
	position: sticky;
	bottom: 0;
	z-index: 10;
}

.Client-Register-Form {
	background-color: rgb(236, 240, 240);
	margin-top: 8%;
	margin-bottom: 8%;
	width: 55%;
	border-left: 2px solid lightgrey;
	border-top: 1.5px ridge lightgrey;
	border-bottom: 2px groove lightgrey;
}
.Realtor-Register-Form {
	/*margin-top: 5%;*/
	background-color: rgb(236, 240, 240);
	margin-top: 8%;
	margin-bottom: 8%;
	width: 55%;
	border-top: 1.5px ridge lightgrey;
	border-bottom: 2px groove lightgrey;
}
.About-Us {
	background-color: rgb(236, 240, 240);
	width: 43%;

	text-align: center;
}
.About-US h3{
	margin-top: 0;
}
.Realtor-Logo {
	height: 20%;
	width: 20%;
	/*margin: 0;*/
}

.underline {
	text-decoration: underline;
	color: blue;
}